<section class='form-section'>
  <%= render 'shared/errors', object: @line %>
  <%= form_with(model: line, local: true) do |form| %>
    <div class='field'>
      <%= form.label :name, class: 'label' %>
      <div class='control'>
        <%= form.text_field :name, class: 'input' %>
      </div>
    </div>

    <div class='field'>
      <%= form.label :brand_id, class: 'label' %>
      <div class='select'>
        <%= form.collection_select :brand_id, Brand.all, :id, :name, { prompt: 'ブランドを選択' } %>
      </div>
    </div>

    <div class='field'>
      <%= form.label :item_id, class: 'label' %>
      <div class='select'>
        <%= form.collection_select :item_id, Item.all, :id, :name, { prompt: 'アイテムを選択' } %>
      </div>
    </div>

    <div class='field'>
      <%= form.label :image, class: 'label' %>
      <div class='control file has-name'>
        <label class='file-label'>
          <%= form.file_field :image, class: 'file-input' %>
          <span class='file-cta'>
            <span class='file-icon'>
              <i class='fas fa-upload'></i>
            </span>
            <span class='file-label'>
              ファイルを選択
            </span>
          </span>
          <span class='file-name'>
            <%= @line.image.attached? ? @line.image.filename.to_s : 'No file uploaded' %>
          </span>
        </label>
      </div>
    </div>

    <div class='buttons is-right'>
      <%= form.submit class: 'button is-primary' %>
    </div>
  <% end %>
</section>
