<%= javascript_include_tag 'lines/show', defer: true %>
<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'page/knowledge' %>
<% end %>

<section class='knowledge-section'>
  <%= render partial: 'shared/section_headline', locals: { number: '00', title: 'Knowledge' } %>
  <div class='knowledge-container container'>
    <nav class='breadcrumb-list'>
      <ul>
        <li>
          <%= link_to root_path do %>
            <i class='fa-solid fa-house'></i>
          <% end %>
        </li>
        <li>
          <div class='breadcrumb-group'>
            <%= link_to @line.brand.name, brand_path(@line.brand.name) %>
            <%= link_to @line.item.name, item_path(@line.item.name) %>
          </div>
        </li>
        <li><%= link_to @line.name, line_path(@line.name) %></li>
      </ul>
    </nav>
    <div class='knowledge-line-header media'>
      <figure class='media-left'>
        <% if @line.image.attached? %>
          <%= image_tag @line.image.variant(resize_to_limit: [200, 200]), class: 'image is-96x96', alt: @line.name,
                                                                          loading: 'eager' %>
        <% end %>
      </figure>
      <div class='media-content'>
        <h2 class='line-title'>
          <%= @line.name %>
        </h2>
      </div>
    </div>
    <%= render 'knowledges/card_list', objects: @knowledges %>
    <% if admin_login? %>
      <div class='has-text-right mt-4'>
        <%= link_to 'New knowledge', new_knowledge_path, class: 'button is-primary' %>
      </div>
    <% end %>
    <%= link_to 'トップページに戻る', root_path %>
  </div>
</section>
