<section>
  <%= render 'knowledges/header' %>
  <section class='knowledge-section container'>
    <nav class='breadcrumb has-succeeds-separator is-medium'>
      <ul>
        <li><%= link_to @line.brand.name, brand_path(@line.brand.name) %></li>
        <li><%= link_to @line.item.name, item_path(@line.item.name) %></li>
      </ul>
    </nav>
    <h2 class='title knowledge-title'>
      <%= @line.name %>
    </h2>
    <%= render 'knowledges/card_list', objects: @line.knowledges %>
    <%= link_to 'トップページに戻る', root_path %>
  </section>
</section>
