<div class='menu-lists menu'>
  <p class='menu-label'>Magazine</p>
  <ul class='menu-list'>
    <li><%= link_to 'Magazine一覧', admin_magazines_path %></li>
    <li><%= link_to 'Magazine新規作成', new_magazine_path %></li>
  </ul>
  <p class='menu-label'>Knowledge</p>
  <ul class='menu-list'>
    <li><%= link_to 'Knowledge一覧', knowledges_path %></li>
    <li><%= link_to 'Knowledge新規作成', new_knowledge_path %></li>
  </ul>
  <p class='menu-label'>Line</p>
  <ul class='menu-list'>
    <li><%= link_to 'Line一覧', '/admin#section-headline-line' %></li>
    <li><%= link_to 'Line新規作成', new_line_path %></li>
  </ul>
  <p class='menu-label'>Brand</p>
  <ul class='menu-list'>
    <li><%= link_to 'Brand一覧', '/admin#section-headline-brand' %></li>
    <li><%= link_to 'Brand新規作成', new_brand_path %></li>
  </ul>
  <p class='menu-label'>Item</p>
  <ul class='menu-list'>
    <li><%= link_to 'Item一覧', '/admin#section-headline-item' %></li>
    <li><%= link_to 'Item新規作成', new_item_path %></li>
  </ul>
  <p class='menu-label'>Term</p>
  <ul class='menu-list'>
    <li><%= link_to 'Term一覧', terms_path %></li>
    <li><%= link_to 'Term新規作成', new_term_path %></li>
  </ul>
  <p class='menu-label'>Category</p>
  <ul class='menu-list'>
    <li><%= link_to 'Category一覧', categories_path %></li>
  </ul>
</div>
