<section class='admin-section'>
  <div class='container admin-container'>
    <%= render partial: 'shared/section_headline', locals: { title: 'Brand' } %>
    <%= render partial: 'table', locals: { models: @brands } %>
    <%= link_to 'New Brand', new_brand_path, class: 'button is-primary new-button' %>
    <%= render partial: 'shared/section_headline', locals: { title: 'Item' } %>
    <%= render partial: 'table', locals: { models: @items } %>
    <%= link_to 'New Item', new_item_path, class: 'button is-primary new-button' %>
    <%= render partial: 'shared/section_headline', locals: { title: 'Line' } %>
    <%= render partial: 'table', locals: { models: @lines } %>
    <%= link_to 'New Line', new_line_path, class: 'button is-primary new-button' %>
  </div>
</section>
