<section class='form-section'>
  <%= render 'shared/errors', object: term %>

  <%= form_with(model: term, local: true) do |form| %>
    <div class='field'>
      <%= form.label :name, class: 'label' %>
      <div class='control'>
        <%= form.text_field :name, class: 'input' %>
      </div>
    </div>

    <div class='field'>
      <%= form.label :image, class: 'label' %>
      <div class='control file has-name'>
        <label class='file-label'>
          <%= form.file_field :image, class: 'file-input' %>
          <span class='file-cta'>
            <span class='file-icon'>
              <i class='fas fa-upload'></i>
            </span>
            <span class='file-label'>
              ファイルを選択
            </span>
          </span>
          <span class='file-name'>
            <%= @term.image.attached? ? @term.image.filename.to_s : 'No file uploaded' %>
          </span>
        </label>
      </div>
    </div>

    <div class='field'>
      <%= form.label :kana, class: 'label' %>
      <div class='control'>
        <%= form.text_field :kana, class: 'input', placeholder: '全角カタカナで入力して下さい' %>
      </div>
    </div>

    <div class='field'>
      <%= form.label :description, class: 'label' %>
      <div class='control'>
        <%= form.rich_text_area :description, class: 'textarea' %>
      </div>
    </div>

    <div class='field'>
      <%= form.label :category_names, 'カテゴリー', class: 'label' %>
      <div class='control choices-input'>
        <%= form.text_field :category_names, value: term.categories.map(&:name).join(','), id: 'choices-input' %>
      </div>
    </div>

    <div class='buttons is-right'>
      <%= form.submit class: 'button is-primary' %>
      <% if term.persisted? %>
        <%= link_to '削除', term, data: { turbo: true, turbo_method: :delete, turbo_confirm: '本当に削除しますか？' },
                                class: 'button' %>
      <% end %>
    </div>
  <% end %>
</section>
