<section class='form-section'>
  <%= render 'shared/errors', object: term %>

  <%= form_with(model: term, local: true) do |form| %>
    <div class='field'>
      <%= form.label :name, class: 'label' %>
      <div class='control'>
        <%= form.text_field :name, class: 'input' %>
      </div>
    </div>

    <div class='field'>
      <%= form.label :kana, class: 'label' %>
      <div class='control'>
        <%= form.text_field :kana, class: 'input' %>
      </div>
    </div>

    <div class='field'>
      <%= form.label :description, class: 'label' %>
      <div class='control'>
        <%= form.rich_text_area :description, class: 'textarea' %>
      </div>
    </div>

    <div class='field'>
      <%= form.label :category_names, 'カテゴリー', class: 'label' %>
      <div class='control'>
        <%= form.text_field :category_names, value: term.categories.map(&:name).join(','), class: 'input',
                                             id: 'magazine-tag' %>
      </div>
    </div>

    <div class='buttons is-right'>
      <%= form.submit class: 'button is-primary' %>
      <% if term.persisted? %>
        <%= link_to '削除', term, data: { turbo: true, turbo_method: :delete, turbo_confirm: '本当に削除しますか？' },
                                class: 'button' %>
      <% end %>
    </div>
  <% end %>
</section>
