<%= javascript_include_tag 'terms/index', defer: true %>
<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'page/term' %>
<% end %>

<section class='term-section'>
  <%= render partial: 'shared/section_headline', locals: { title: 'Terms' } %>
  <div class='layout-wrapper'>
    <div class='term-container container main-content'>
      <% if admin_login? %>
        <div class='has-text-right'>
          <%= link_to '用語登録', new_term_path, class: 'button is-primary mb-4' %>
        </div>
      <% end %>
      <div class='kana-groups-links'>
        <% @kana_groups.each do |group| %>
          <%= link_to group, "/terms##{group}", class: 'kana-groups-link' %>
        <% end %>
      </div>
      <div class='mobile-contents'>
        <%= render 'categories_list', categories: @categories %>
      </div>
      <% @grouped_terms.each do |group, terms| %>
        <h2 class='group-title' id="<%= group %>"><%= group %></h2>
        <%= render 'terms/list', terms:, is_admin: admin_login? %>
      <% end %>
      <%= link_to 'トップページに戻る', root_path %>
    </div>
    <div class='sidebar'>
      <%= render 'categories_list', categories: @categories %>
    </div>
    <div class='pagetop'>
      <i class='fa-solid fa-caret-up fa-3x' aria-label='pagetop'></i>
    </div>
  </div>
</section>
