<%= javascript_include_tag 'terms/index', defer: true %>
<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'page/term' %>
<% end %>

<% set_meta_tags(
     title: 'ヴィンテージ用語事典 | Vook tokyo',
     description:
      'ヴィンテージ用語・古着用語をわかりやすく解説。Vook tokyoの用語集では、古着・ヴィンテージの専門用語やブランド情報を五十音順で紹介。初心者も上級者も楽しめるコンテンツです。',
     og: {
       title: 'ヴィンテージ用語事典 | Vook tokyo',
       description: 'ヴィンテージ用語・古着用語をわかりやすく解説。Vook tokyoの用語集では、古着・ヴィンテージの専門用語やブランド情報を五十音順で紹介。初心者も上級者も楽しめるコンテンツです。',
       image: image_url('headline_terms.webp')
     },
     twitter: {
       image: image_url('headline_terms.webp')
     }
   ) %>

<section class='term-section'>
  <%= render partial: 'shared/section_headline', locals: { title: 'Terms' } %>
  <div class='layout-wrapper'>
    <div class='term-container container main-content'>
      <% if admin_login? %>
        <div class='has-text-right'>
          <%= link_to '用語登録', new_term_path, class: 'button is-primary mb-4' %>
        </div>
      <% end %>
      <div class='terms-image'>
        <%= image_tag 'headline_terms.webp', alt: '用語一覧ページ', loading: 'eager', width: 713, height: 400 %>
      </div>
      <p class='terms-description'>ヴィンテージ用語・古着用語を五十音順で紹介、解説しています。</p>
      <div class='kana-groups-links'>
        <% @kana_groups.each do |group| %>
          <%= link_to group, "/terms##{group}", class: 'kana-groups-link' %>
        <% end %>
      </div>
      <div class='mobile-contents'>
        <%= render 'categories_list', categories: @categories %>
      </div>
      <% @grouped_terms.each do |group, terms| %>
        <h2 class='group-title' id="<%= group %>"><%= group %></h2>
        <%= render 'terms/list', terms:, is_admin: admin_login? %>
      <% end %>
      <%= link_to 'トップページに戻る', root_path %>
    </div>
    <div class='sidebar'>
      <%= render 'categories_list', categories: @categories %>
    </div>
  </div>
</section>
