<%= javascript_include_tag 'users/show', defer: true %>
<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'page/user' %>
<% end %>

<div class='user-section'>
  <%= render partial: 'shared/section_headline', locals: { title: 'User' } %>
  <div class='user-container container'>
    <div class='user-profile'>
      <% if @user.icon_url.present? %>
        <%= image_tag @user.icon_url, class: 'user-icon', alt: 'user-image' %>
      <% end %>
      <div class='user-name'><%= @user.name %></div>
      <p class='user-introduction content'>
        <%= @user.introduction.presence || '自己紹介はまだありません' %>
      </p>
    </div>
  </div>
</div>
