<div class='magazine-cards columns is-mobile is-multiline'>
  <% magazines.each do |magazine| %>
    <div class='column is-one-quarter-tablet is-half-mobile'>
      <div class='magazine-card card'>
        <%= link_to magazine do %>
          <span class='magazine-date <%= 'draft' if magazine.draft? %><%= 'scheduled' if magazine.scheduled? %>'>
            <% if magazine.draft? %>
              <%= '下書き' %>
            <% elsif magazine.scheduled? %>
              <%= "予約：#{l magazine.publish_at, format: :short}" %>
            <% else %>
              <%= l magazine.publish_at, format: :date %>
            <% end %>
          </span>
          <div class='magazine-card-image image is-square'>
            <% if magazine.thumbnail.attached? %>
              <%= image_tag magazine.thumbnail.variant(resize_to_limit: [400, 400]), alt: magazine.title %>
            <% else %>
              <%= image_tag('magazine-sample.jpg', alt: 'magazine-sample', size: '400x400') %>
            <% end %>
          </div>
          <div class='magazine-card-content'>
            <div class='magazine-card-header'>
              <%= magazine.title %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
