<section class='form-section'>
  <%= render 'shared/errors', object: @magazine %>
  <%= form_with(model: magazine, local: true) do |form| %>

    <div class='field'>
      <%= form.label :thumbnail, class: 'label' %>
      <div class='control'>
        <%= form.file_field :thumbnail %>
      </div>
    </div>

    <div class="field">
      <%= form.label :title, class: 'label' %>
      <div class="control">
        <%= form.text_field :title, class: 'input' %>
      </div>
    </div>

    <div class="field">
      <%= form.label :publish_at, class: 'label' %>
      <div class="control">
        <%= form.date_field :publish_at %>
      </div>
    </div>

    <div class="field content">
      <%= form.label :body, class: 'label' %>
      <div class="control">
        <%= form.rich_text_area :body %>
      </div>
    </div>

    <div class="field">
      <%= form.label :summary, class: 'label' %>
      <div class="control">
        <%= form.text_field :summary, class: 'input' %>
      </div>
    </div>

    <div>
      <%= form.submit class: 'button' %>
    </div>
  <% end %>
</section>
