<section class='form-section'>
  <%= render 'shared/errors', object: @magazine %>
  <%= form_with(model: magazine, local: true) do |form| %>

    <div class='field'>
      <%= form.label :thumbnail, class: 'label' %>
      <div class='control file has-name'>
        <label class='file-label'>
          <%= form.file_field :thumbnail, class: 'file-input' %>
          <span class='file-cta'>
            <span class='file-icon'>
              <i class='fas fa-upload'></i>
            </span>
            <span class='file-label'>
              ファイルを選択
            </span>
          </span>
          <span class='file-name'>
            No file uploaded
          </span>
        </label>
      </div>
    </div>

    <div class='field'>
      <%= form.label :title, class: 'label' %>
      <div class='control'>
        <%= form.text_field :title, class: 'input' %>
      </div>
    </div>

    <div class='field'>
      <%= form.label :publish_at, '公開日(未設定にしておくと下書き保存)', class: 'label' %>
      <div class='control'>
        <%= form.datetime_field :publish_at %>
      </div>
    </div>

    <div class='field'>
      <%= form.label :tag_list, class: 'label' %>
      <div class='control'>
        <%= form.text_field :tag_list, value: @magazine.tag_list.join(','), class: 'input', id: 'magazine-tag' %>
      </div>
    </div>

    <div class='field content'>
      <%= form.label :body, class: 'label' %>
      <div class='control'>
        <%= form.rich_text_area :body, class: 'textarea' %>
      </div>
    </div>

    <div class='field'>
      <%= form.label :summary, class: 'label' %>
      <div class='control'>
        <%= form.text_field :summary, class: 'input' %>
      </div>
    </div>

    <div class='buttons is-right'>
      <%= form.submit class: 'button is-primary' %>
    </div>
  <% end %>
</section>
