<%= javascript_include_tag 'magazines/edit', defer: true %>
<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'page/magazine' %>
<% end %>

<section class='magazine-section'>
  <%= render partial: 'shared/section_headline', locals: { number: '01', title: 'Magazine' } %>
  <div class='magazine-container container'>
    <h2 class='magazine-title'>Magazine編集</h2>
    <%= render 'form', magazine: @magazine %>
    <%= link_to '記事に戻る', @magazine %> |
    <%= link_to 'Magazine一覧に戻る', magazines_path %>
  </div>
</section>
