<h1>Magazines</h1>

<div>
  <% @magazines.each do |magazine| %>
    <% if magazine.thumbnail.attached? %>
      <div>
        <%= image_tag magazine.thumbnail %>
      </div>
    <% end %>

    <%= magazine.title %>
    <%= magazine.publish_at %>
    <p>
      <%= link_to 'Show', magazine %>
    </p>
  <% end %>
</div>

<%= link_to 'New magazine', new_magazine_path %>
