<section>
  <%= render partial: 'shared/hero_banner', locals: { title: '1.Vook Magazine' } %>
  <div class='magazine-section container'>
    <h2 class="title">
      <%= @magazine.title %>
    </h2>
    <div class="magazine-header">
      <%= l @magazine.publish_at, format: :date %>
    </div>
    <div class="magazine-content">
      <% if @magazine.thumbnail.attached? %>
        <figure class='image'>
          <%= image_tag @magazine.thumbnail.variant(resize_to_limit: [1000, 1000]) %>
        </figure>
      <% end %>
      <div class="magazine-body content">
        <%= @magazine.body %>
      </div>
    </div>
    <% if admin_login? %>
      <div class="magazine-edit buttons">
        <%= link_to '記事編集', edit_magazine_path(@magazine), class: 'button' %>
        <%= button_to '記事削除', @magazine,
                      { method: :delete, data: { turbo_confirm: '本当に削除しますか？' }, class: 'button' } %>
      </div>
    <% end %>
    <%= link_to 'Magazine一覧に戻る', magazines_path %>
  </div>
</section>
