<%= javascript_include_tag 'magazines/show', defer: true %>

<% set_meta_tags(
     title: "#{@magazine.title} | Vook tokyo", description: @magazine.summary,
     og: {
       title: "#{@magazine.title} | Vook tokyo",
       description: @magazine.summary,
       image: @magazine.thumbnail.present? ? rails_blob_url(@magazine.thumbnail) : image_url('logo_ogp.png')
     },
     twitter: {
       image: @magazine.thumbnail.present? ? rails_blob_url(@magazine.thumbnail) : image_url('logo_ogp.png')
     }
   ) %>

<section class='magazine-section'>
  <%= render partial: 'shared/section_headline', locals: { number: '01', title: 'Magazine' } %>
  <div class='magazine-container container'>
    <div class='magazine-header'>
      <div class='magazine-header-date'>
        <span class='magazine-date'>
          <% if @magazine.draft? %>
            <span class='draft'><%= '下書き' %></span>
          <% elsif @magazine.scheduled? %>
            <span class='scheduled'><%= "予約：#{l @magazine.publish_at, format: :short}" %></span>
          <% else %>
            <%= l @magazine.publish_at, format: :date %>
          <% end %>
        </span>
      </div>
      <h2 class='magazine-title'>
        <%= @magazine.title %>
      </h2>
    </div>
    <div class='magazine-content'>
      <% if @magazine.thumbnail.attached? %>
        <figure class='image'>
          <%= image_tag @magazine.thumbnail.variant(resize_to_limit: [1000, 1000]), alt: @magazine.title,
                                                                                    width: '100%', height: '500px' %>
        </figure>
      <% end %>
      <div class='magazine-body content'>
        <%= @magazine.body %>
      </div>
      <% if @magazine.tag_list.any? %>
        <nav class='magazine-tags'>
          <ul>
            <li><i class='fa-solid fa-tag icon-tag' aria-label='Tag'></i></li>
            <% @magazine.tag_list.each do |tag| %>
              <li>
                <span class='button is-rounded'><%= "##{tag}" %></span>
                <%# [TODO]タグの運用が決まるまでコメントアウト %>
                <%#= link_to "##{tag}", '#', class: 'button is-rounded' %>
              </li>
            <% end %>
          </ul>
        </nav>
      <% end %>
    </div>
    <% if admin_login? %>
      <div class='magazine-edit buttons is-right'>
        <%= link_to '編集', edit_magazine_path(@magazine), class: 'button is-primary' %>
        <%= button_to '削除', @magazine,
                      { method: :delete, form: { data: { turbo: true, turbo_confirm: '本当に削除しますか？' } }, class: 'button' } %>
      </div>
    <% end %>
    <%= render 'shared/share_banner', share_text: @magazine.title %>
    <%= link_to 'Magazine一覧に戻る', magazines_path %>
  </div>
</section>
