<div>
  <%= @magazine.title %>
  <%= @magazine.body %>
  <%= @magazine.publish_at %>

  <%= link_to 'Edit this magazine', edit_magazine_path(@magazine) %> |
  <%= link_to 'Back to magazines', magazines_path %>

  <%= button_to 'Destroy this magazine', @magazine, method: :delete %>
</div>
