<header class='header'>
  <nav id='navbar' class='navbar container'>
    <div class='navbar-brand'>
      <div class='navbar-logo'>
        <%= link_to image_tag('logo_type.webp', alt: 'logo', width: '184px', height: '40px', loading: 'eager'), '/', class: 'navbar-item' %>
      </div>
      <button role='button' class='navbar-burger' data-hidden='true' data-target='navigation' aria-label='humburger button'>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class='navbar-menu' id='navigation'>
      <div class='navbar-end'>
        <% if admin_login? %>
          <%= link_to 'Admin', admin_path, class: 'navbar-item' %>
        <% end %>
        <%= link_to 'About', about_path, class: 'navbar-item' %>
        <%= link_to 'Terms', terms_path, class: 'navbar-item' %>
        <div class="header-sns-icons">
          <div class='navbar-item'>
            <%= link_to 'https://www.instagram.com/vook.vintagebook/', target: :_blank, rel: 'noopener' do %>
              <i class='fa-brands fa-square-instagram' aria-label='Instagram'></i>
            <% end %>
          </div>
          <div class='navbar-item'>
            <%= link_to 'https://www.tiktok.com/@vook.tokyo/', target: :_blank, rel: 'noopener' do %>
              <i class='fa-brands fa-tiktok' aria-label='TikTok'></i>
            <% end %>
          </div>
        </div>
        <div class='navbar-item'>
          <% if login? %>
            <%= button_to 'ログアウト', '/logout', method: :delete, data: { turbo: false },
                                              class: 'button is-light' %>
          <% else %>
            <%= button_to 'ログイン', '/auth/google_oauth2', method: :post, data: { turbo: false },
                                                         class: 'button is-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>
