<header class='navigation'>
  <nav id='navbar' class='navbar main-nav container'>
    <div class='navbar-brand'>
      <div class='navbar-item'>
        <h1 class='header-logo'>
          <%= link_to image_tag('logo_vook.png', alt: 'logo'), '/' %>
        </h1>
      </div>
      <button role='button' class='navbar-burger burger' data-hidden='true' data-target='navigation'>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class='navbar-menu' id='navigation'>
      <div class='navbar-end'>
        <%= link_to 'About', about_path, class: 'navbar-item' %>
        <a class='navbar-item' href='#'>Discovery</a>
        <%= link_to 'Magazine', magazines_path, class: 'navbar-item' %>
        <a class='navbar-item' href='https://www.instagram.com/vook.vintagebook/'>Instagram</a>
        <a class='navbar-item' href='https://www.tiktok.com/@vook.vintagebook/'>Tiktok</a>
        <div class='navbar-item'>
          <% if login? %>
            <%= button_to 'ログアウト', '/logout', method: :delete, data: { turbo: false },
                                              class: 'button is-primary is-light' %>
          <% else %>
            <%= button_to 'ログイン', '/auth/google_oauth2', method: :post, data: { turbo: false }, class: 'button is-dark' %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>
