<header class='navigation'>
  <nav id='navbar' class='navbar main-nav container'>
    <div class='navbar-brand'>
      <div class='navbar-item'>
        <h1 class='header-logo'>
          <%= link_to image_tag('logo_type.png', alt: 'logo', width: '100%', height: '56px'), '/' %>
        </h1>
      </div>
      <button role='button' class='navbar-burger burger' data-hidden='true' data-target='navigation' aria-label='humburger button'>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class='navbar-menu' id='navigation'>
      <div class='navbar-end'>
        <%= link_to 'About', about_path, class: 'navbar-item' %>
        <%= link_to 'Terms', terms_path, class: 'navbar-item' %>
        <%= link_to 'Magazine', magazines_path, class: 'navbar-item' %>
        <div class="header-sns-icons">
          <div class='navbar-item'>
            <%= link_to 'https://www.instagram.com/vook.vintagebook/', target: :_blank, rel: 'noopener' do %>
              <i class='fa-brands fa-square-instagram' aria-label='Instagram'></i>
            <% end %>
          </div>
          <div class='navbar-item'>
            <%= link_to 'https://www.tiktok.com/@vook.tokyo/', target: :_blank, rel: 'noopener' do %>
              <i class='fa-brands fa-tiktok fa-2x' aria-label='TikTok'></i>
            <% end %>
          </div>
        </div>
        <div class='navbar-item'>
          <% if login? %>
            <%= button_to 'ログアウト', '/logout', method: :delete, data: { turbo: false },
                                              class: 'button is-light' %>
          <% else %>
            <%= button_to 'ログイン', '/auth/google_oauth2', method: :post, data: { turbo: false },
                                                         class: 'button is-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>
