<div class='top-headline-container container'>
  <div class='layout-wrapper'>
    <div class='main-content container'>
      <div id='headline-main-splide' class='splide' aria-label='headline-main-carousel'>
        <div class='splide__track'>
          <ul class='splide__list'>
            <% @headline_contents.each do |content| %>
              <li class='splide__slide main-item'>
                <a href="<%= content[:link] %>">
                  <%= image_tag content[:image_url], alt: content[:title], loading: 'eager' %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div id='headline-splide' class='splide' aria-label='headline-carousel'>
        <div class='splide__track'>
          <ul class='splide__list'>
            <% @headline_contents.each do |content| %>
              <li class='splide__slide'>
                <img src="<%= asset_path(content[:image_url]) %>" alt="<%= content[:title] %>">
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class='mobile-contents'>
        <%= render 'magazine_ranking', magazines: @ranking_magazines %>
      </div>
    </div>
    <div class='sidebar'>
      <%= render 'magazine_ranking', magazines: @ranking_magazines %>
    </div>
  </div>
</div>
