<%= render partial: 'shared/section_headline', locals: { number: '00', title: 'Knowledge' } %>
<div class='top-knowledge-container container'>
  <div class='knowledge-list'>
    <div class='brand-list'>
      <div class='lists-title divider is-left'>
        Brand
      </div>
      <div class='columns is-multiline is-mobile'>
        <% @brands.first(8).each do |brand| %>
          <%= render 'home/knowledge/brand', brand: %>
        <% end %>
      </div>
      <% if @brands.count > 8 %>
        <%= link_to '#more-brands', data: { action: 'collapse' }, class: 'more-brands-trigger is-right' do %>
          All Brands<i class='fa-solid fa-chevron-down'></i>
        <% end %>
        <div id='more-brands' class='columns is-multiline is-mobile is-collapsible'>
          <% @brands.drop(8).each do |brand| %>
            <%= render 'home/knowledge/brand', brand: %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class='item-list'>
      <div class='lists-title divider is-left'>
        Item
      </div>
      <div class='columns is-multiline is-mobile'>
        <% @items.each do |item| %>
          <div class='knowledge-item column is-one-quarter-mobile'>
            <%= link_to item_path(item.name) do %>
              <%= image_tag item.image.variant(resize_to_limit: [200, 200]), size: '200x200', alt: item.name, class: item.name.gsub(/[.' ]/, '').downcase %>
              <p class='list-title'><%= item.name %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='field is-grouped'>
    <div class='control is-expanded'>
      <%= collection_select(:knowledge, :name, Knowledge.includes(:brand, :line).all, :id, :name_with_brand_and_line, { prompt: '知りたいブランドやアイテムを入力' }, { class: 'input knowledge-search' }) %>
    </div>
  </div>
</div>
