<%= render partial: 'shared/section_headline', locals: { number: '00', title: 'Knowledge' } %>
<div class='top-knowledge-container container'>
  <div class='knowledge-list'>
    <div class='brand-list'>
      <div class='lists-title divider is-left'>
        Brand
      </div>
      <div class='columns is-multiline is-mobile'>
        <%= render partial: 'home/knowledge/icon', collection: @first_brands, as: :icon %>
      </div>
      <% if @more_brands.present? %>
        <%= link_to '#', data: { target: '#more-brands' }, class: 'accordion-trigger' do %>
          All Brands<i class='fa-solid fa-chevron-down'></i>
        <% end %>
        <div id='more-brands' class='columns is-multiline is-mobile accordion-content'>
          <%= render partial: 'home/knowledge/icon', collection: @more_brands, as: :icon %>
        </div>
      <% end %>
    </div>
    <div class='item-list'>
      <div class='lists-title divider is-left'>
        Item
      </div>
      <div class='columns is-multiline is-mobile'>
        <%= render partial: 'home/knowledge/icon', collection: @first_items, as: :icon %>
      </div>
      <% if @more_items.present? %>
        <%= link_to '#', data: { target: '#more-items' }, class: 'accordion-trigger' do %>
          All Items<i class='fa-solid fa-chevron-down'></i>
        <% end %>
        <div id='more-items' class='columns is-multiline is-mobile accordion-content'>
          <%= render partial: 'home/knowledge/icon', collection: @more_items, as: :icon %>
        </div>
      <% end %>
    </div>
  </div>
  <div class='field is-grouped'>
    <div class='control is-expanded'>
      <%= collection_select(:knowledge, :name, Knowledge.includes(:brand, :line).all, :id, :name_with_brand_and_line, { prompt: '知りたいブランドやアイテムを入力' }, { class: 'input knowledge-search' }) %>
    </div>
  </div>
</div>
