<%= render partial: 'shared/hero_banner', locals: { number: '00', title: 'Knowledge' } %>
<div class='top-knowledge-container container'>
  <div class='knowledge-list'>
    <div class='lists-title divider is-left'>
      Brand
    </div>
    <div class='columns is-multiline is-mobile'>
      <% @brands.each do |brand| %>
        <div class='knowledge-brand column is-one-quarter-mobile'>
          <%= link_to brand_path(brand.name) do %>
            <%= image_tag brand.image.variant(resize_to_limit: [300, 300]), alt: brand.name %>
            <p class='list-title'><%= brand.name %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class='lists-title divider is-left'>
      Item
    </div>
    <div class='columns is-multiline is-mobile'>
      <% @items.each do |item| %>
        <div class='knowledge-item column is-one-quarter-mobile'>
          <%= link_to item_path(item.name) do %>
            <%= image_tag item.image.variant(resize_to_limit: [300, 300]), alt: item.name %>
            <p class='list-title'><%= item.name %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class='field is-grouped'>
    <div class='control is-expanded'>
      <%= collection_select(:knowledge, :name, Knowledge.includes(:brand, :line).all, :id, :name_with_brand_and_line, { prompt: '知りたいブランドやアイテムを入力' }, { class: 'input knowledge-search' }) %>
    </div>
  </div>
</div>
