<div class='magazine-ranking-container'>
  <h2 class='ranking-title'>Magazine Ranking</h2>
  <ul class='magazine-ranking-list'>
    <% magazines.each do |magazine| %>
      <li>
        <%= link_to magazine do %>
          <div class='magazine-ranking-item'>
            <div class='magazine-ranking-left'>
              <% if magazine.thumbnail.attached? %>
                <%= image_tag magazine.thumbnail.variant(resize_to_limit: [80, 80]), size: '80x80', alt: magazine.title, loading: 'eager' %>
              <% else %>
                <%= image_tag 'magazine-sample.webp', alt: 'magazine-sample', size: '80x80' %>
              <% end %>
            </div>
            <div class='magazine-ranking-right'>
              <div class='magazine-title'>
                <%= magazine.title %>
              </div>
              <div class='magazine-tags'>
                <% magazine.tags.each do |tag| %>
                  <span class='magazine-tag'><%= tag.name %></span>
                <% end %>
              </div>
              <div class='magazine-date'>
                <%= l magazine.publish_at, format: :date %>
              </div>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
