<%= javascript_include_tag 'home/index', "data-turbo-track": 'reload', defer: true %>

<%= render 'home/pageloader' unless Rails.env.test? %>
<section class='top-knowledge-section'>
  <%= render partial: 'home/knowledge' %>
</section>
<section class='top-magazine-section'>
  <%= render partial: 'home/magazine' %>
</section>
<section class='top-discovery-section'>
  <%= render partial: 'home/discovery' %>
</section>
<section class='top-community-section'>
  <%= render partial: 'home/community' %>
</section>
