<%= render 'home/pageloader' %>
<section>
  <%= render partial: 'shared/hero_banner', locals: { number: 0, title: 'Knowledge' } %>
  <div class='top-knowledge-section container'>
    <div class='field is-grouped'>
      <p class='control is-expanded'>
        <input class='input' type='text' placeholder='知りたいブランドやアイテムを入力' autocomplete='off'>
      </p>
      <p class='control'>
        <a class='button'>
          Search
        </a>
      </p>
    </div>
    <div class='knowledge-list'>
      <div class='tabs is-centered is-boxed'>
        <ul>
          <li class='tab-list is-active'>
            <a>BRAND</a>
          </li>
          <li class='tab-list'>
            <a>ITEM</a>
          </li>
          <%# AGEは一度コメントアウト %>
          <%# <li class='tab-list'>
            <a>AGE</a>
          </li> %>
        </ul>
      </div>
      <div class='knowledge-tab-container'>
        <div class='tab-content is-active'>
          <div class='columns is-multiline is-mobile is-centered'>
            <% @brands.each do |brand| %>
              <%= link_to brand_path(brand.name) do %>
                <div class='knowledge-tab-item column has-text-centered'>
                  <i class='fa-solid fa-shirt fa-3x'></i>
                  <p><%= brand.name %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class='tab-content'>
          <div class='columns is-multiline is-mobile is-centered'>
            <% @items.each do |item| %>
              <%= link_to item_path(item.name) do %>
                <div class='knowledge-tab-item column has-text-centered'>
                  <i class='fa-solid fa-shirt fa-3x'></i>
                  <p><%= item.name %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <%# AGEは一度コメントアウト %>
        <%# <div class='tab-content'>
        </div> %>
      </div>
    </div>
  </div>
</section>
<section>
  <%= render partial: 'shared/hero_banner', locals: { number: 1, title: 'Magazine' } %>
  <div class="magazine-section container">
    <%= render 'magazines/card_list', magazines: @magazines %>
    <div class='read-more-button has-text-centered'>
      <%= link_to magazines_path, class: 'button is-light is-large' do %>
        Read more Magazines<i class="fa-solid fa-circle-right"></i>
      <% end %>
    </div>
  </div>
</section>
<section>
  <%= render partial: 'shared/hero_banner', locals: { number: 2, title: 'Discovery' } %>
  <div class='top-discovery-section container'>
    <div class='carousel-title'>人気の商品</div>
    <div class='splide' aria-label='discovery-carousel'>
      <div class='splide__track'>
        <ul class='splide__list'>
          <% @pickup_knowledges.each do |knowledge| %>
            <li class='splide__slide card'>
              <%= link_to product_path(knowledge.id) do %>
                <div class='product-card-image'>
                  <div class='image is-square'>
                    <% if knowledge.image.attached? %>
                      <%= image_tag knowledge.image.variant(resize_to_limit: [600, 600]), alt: knowledge.name %>
                    <% else %>
                      <%= image_tag('product-sample.jpg', alt: 'product-sample') %>
                    <% end %>
                  </div>
                </div>
                <div>
                  <div class='product-card-content'>
                    <p><%= knowledge.brand.name %></p>
                    <p class='slide-title'><%= "#{knowledge.line.name} #{knowledge.name}" %></p>
                    <p>最低価格</p>
                    <% if knowledge.products&.minimum(:price) %>
                      <p class='slide-title'><%= number_to_currency(knowledge.products.minimum(:price)) %></p>
                    <% else %>
                      <p>現在、価格情報はありません</p>
                    <% end %>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <ul class="splide__pagination"></ul>
      </div>
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="欲しいアイテムを入力" autocomplete="off">
        </p>
        <p class="control">
          <a class="button">
            Search
          </a>
        </p>
      </div>
    </div>
  </section>
  <section>
    <%= render partial: 'shared/hero_banner', locals: { number: 3, title: 'Community' } %>
    <div class='community-section container'>
      <div class='instagram-list-section'>
        <div class='instagram-list-header has-text-centered'>
          <p>@vook.vintagebook</p>
          <div class='instagram-list-title'>Instagram</div>
        </div>
        <div class='instagram-list-body'>
          <div class='instagram-feeds columns is-mobile is-multiline'>
            <% @instagram_feeds.each do |feed| %>
              <div class='instagram-feed column is-one-third'>
                <%= link_to feed['permalink'], target: '_blank', rel: 'noopener noreferrer' do %>
                  <%= image_tag feed['media_url'], alt: truncate(feed['caption'], length: 50), loading: 'lazy' %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
