<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'page/admin' %>
<% end %>

<section class='admin-section'>
  <%= render partial: 'shared/section_headline', locals: { title: 'Item' } %>
  <div class='admin-container container'>
    <table class='table is-bordered is-fullwidth'>
      <tbody class='preview-table'>
        <tr>
          <th>アイテム名</th>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <th>アイコン</th>
          <td>
            <% if @item.image.attached? %>
              <%= image_tag @item.image, style: "background-color: #{@item.color}" %>
            <% else %>
              なし
            <% end %>
          </td>
        </tr>
        <tr>
          <th>バナー</th>
          <td>
            <% if @item.banner.attached? %>
              <%= image_tag @item.banner, style: "background-color: #{@item.color}" %>
            <% else %>
              なし
            <% end %>
          </td>
        </tr>
        <tr>
          <th>アイテムカラー</th>
          <td><%= @item.color %></td>
        </tr>
        <tr>
          <th>説明文</th>
          <td><%= @item.description.presence %></td>
        </tr>
      </tbody>
    </table>
    <hr class='has-background-dark'>
    <%= render 'form', item: @item %>
    <%= link_to '管理画面に戻る', admin_path %> |
    <%= link_to "#{@item.name}のページへ", @item %>
  </div>
</section>
