<section class='knowledge-section'>
  <%= render partial: 'shared/hero_banner', locals: { number: 0, title: 'Knowledge' } %>
  <div class='knowledge-container container'>
    <div class='knowledge-brand-item-header media'>
      <figure class='media-left'>
        <% if @item.image %>
          <%= image_tag @item.image.variant(resize_to_limit: [200, 200]), alt: @item.name, class: 'image is-96x96' %>
        <% end %>
      </figure>
      <div class='media-content'>
        <h2 class='knowledge-title'>
          <%= @item.name %>
        </h2>
      </div>
    </div>
    <%= render 'knowledges/card_list', objects: @item.lines %>
    <%= link_to 'トップページに戻る', root_path %>
  </div>
</section>
