<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'page/knowledge' %>
<% end %>

<section class='knowledge-section'>
  <%= render partial: 'shared/section_headline', locals: { number: '00', title: 'Knowledge' } %>
  <div class='knowledge-container container'>
    <nav class='breadcrumb-list'>
      <ul>
        <li><i class='fa-solid fa-tag icon-tag'></i></li>
        <li><%= link_to "##{@item.name}", item_path(@item.name), class: 'button is-rounded' %></li>
      </ul>
    </nav>
    <div class='knowledge-item-header' style="background-color: <%= @item.color %>">
      <% if @item.banner.attached? %>
        <%= image_tag @item.banner, alt: @item.name, class: 'knowledge-banner' %>
      <% end %>
    </div>
    <% if @item.description.present? %>
      <div class='knowlege-description'>
        <%= @item.description %>
      </div>
    <% end %>
    <%= render 'knowledges/card_list', objects: @lines %>
    <%= link_to 'トップページに戻る', root_path %>
  </div>
</section>
