<section class='knowledge-section'>
  <%= render partial: 'shared/section_headline', locals: { number: '00', title: 'Knowledge' } %>
  <div class='knowledge-container container'>
    <nav class='breadcrumb is-medium'>
      <ul>
        <li><%= link_to "##{@item.name}", item_path(@item.name) %></li>
      </ul>
    </nav>
    <div class='knowledge-item-header <%= @item.name.gsub(/[.' ]/, '').downcase %>'>
      <h2 class='knowledge-title'>
        <%= @item.name %>
      </h2>
      <% if @item.banner.attached? %>
        <%= image_tag @item.banner, alt: @item.name, class: 'knowledge-banner' %>
      <% end %>
    </div>
    <%= render 'knowledges/card_list', objects: @item.lines %>
    <%= link_to 'トップページに戻る', root_path %>
  </div>
</section>
