<% content_for :extra_javascript do %>
  <%= javascript_include_tag 'common/admin', "data-turbo-track": 'reload', defer: true %>
<% end %>

<section class='form-section'>
  <%= render 'shared/errors', object: @knowledge %>
  <%= form_with(model: knowledge, local: true) do |form| %>
    <div class='field'>
      <%= form.label :status, class: 'label' %>
      <% Knowledge.statuses_i18n.each do |status, value| %>
        <%= form.radio_button :status, status, class: 'radio' %>
        <%= form.label :status, value, value: status %>
      <% end %>
    </div>

    <div class='field'>
      <%= form.label :image, class: 'label' %>
      <div class='control file has-name'>
        <label class='file-label'>
          <%= form.file_field :image, class: 'file-input' %>
          <span class='file-cta'>
            <span class='file-icon'>
              <i class='fas fa-upload'></i>
            </span>
            <span class='file-label'>
              ファイルを選択
            </span>
          </span>
          <span class='file-name'>
            <%= @knowledge.image.attached? ? @knowledge.image.filename.to_s : 'No file uploaded' %>
          </span>
        </label>
      </div>
    </div>

    <div class='field'>
      <%= form.label :name, class: 'label' %>
      <div class='control'>
        <%= form.text_field :name, class: 'input' %>
      </div>
    </div>

    <div class='field'>
      <%= form.label :brand_id, class: 'label' %>
      <div class='control'>
        <div class='select'>
          <%= form.select(:brand_id, brand_select_options, { prompt: 'ブランドを選択' }) %>
        </div>
        <div class='select'>
          <%= form.select(:line_id, line_select_options(@knowledge), { prompt: 'ラインを選択' }) %>
        </div>
      </div>
    </div>

    <div class='field'>
      <%= form.label :age, class: 'label' %>
      <div class='control'>
        <%= form.number_field :age, class: 'input' %>
      </div>
    </div>

    <div class='field'>
      <%= form.label :instagram_url, class: 'label' %>
      <div class='control'>
        <%= form.text_field :instagram_url, class: 'input' %>
      </div>
    </div>

    <div class='field'>
      <%= form.label :topic_sentence, class: 'label' %>
      <div class='control'>
        <%= form.text_field :topic_sentence, class: 'input' %>
      </div>
    </div>

    <div class='field'>
      <%= form.label :summary, class: 'label' %>
      <div class='control'>
        <%= form.text_area :summary, class: 'textarea' %>
      </div>
    </div>

    <div class='field content'>
      <%= form.label :body, class: 'label' %>
      <div class='control'>
        <%= form.rich_text_area :body, class: 'textarea' %>
      </div>
    </div>

    <div class='field'>
      <%= form.label :mermaid_chart, class: 'label' %>
      <div class='control'>
        <%= form.text_area :mermaid_chart, class: 'textarea mermaid-textarea', rows: 10 %>
      </div>
      <pre class='mermaid' id='mermaid-preview'></pre>
    </div>

    <div class='buttons is-right'>
      <%= form.submit class: 'button is-primary' %>
    </div>
  <% end %>
</section>
