<section class='form-section'>
  <%= render 'shared/errors', object: @knowledge %>
  <%= form_with(model: knowledge, local: true) do |form| %>
    <div class='field'>
      <%= form.label :image, class: 'label' %>
      <div class='control'>
        <%= form.file_field :image %>
      </div>
    </div>

    <div class='field'>
      <%= form.label :name, class: 'label' %>
      <div class='control'>
        <%= form.text_field :name, class: 'input' %>
      </div>
    </div>

    <div class='field'>
      <%= form.label :brand_id, class: 'label' %>
      <div class='control'>
        <div class='select'>
          <%= form.select(:brand_id, brand_select_options, { prompt: 'ブランドを選択' }) %>
        </div>
        <div class='select'>
          <%= form.select(:line_id, line_select_options(@knowledge), { prompt: 'ラインを選択' }) %>
        </div>
      </div>
    </div>

    <div class='field'>
      <%= form.label :age, class: 'label' %>
      <div class='control'>
        <%= form.number_field :age, class: 'input' %>
      </div>
    </div>

    <div class='field content'>
      <%= form.label :body, class: 'label' %>
      <div class='control'>
        <%= form.rich_text_area :body %>
      </div>
    </div>

    <div class='buttons is-right'>
      <%= form.submit class: 'button is-primary' %>
    </div>
  <% end %>
</section>
