<%= javascript_include_tag 'knowledges/edit', defer: true %>

<section class='knowledge-section'>
  <%= render partial: 'shared/section_headline', locals: { number: '00', title: 'Knowledge' } %>
  <div class='knowledge-container container'>
    <h2 class='title'>Knowledge編集</h2>
    <%= render 'form', knowledge: @knowledge %>
    <%= link_to '記事に戻る', @knowledge %> |
    <%= link_to 'Knowledge一覧に戻る', knowledges_path %>
  </div>
</section>
