<%= javascript_include_tag 'knowledges/new', defer: true %>
<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'page/knowledge' %>
<% end %>

<section class='knowledge-section'>
  <%= render partial: 'shared/section_headline', locals: { number: '00', title: 'Knowledge' } %>
  <div class='knowledge-container container'>
    <h2 class='title'>Knowledge作成</h2>
    <%= render 'form', knowledge: @knowledge %>

    <%= link_to 'Knowledge一覧に戻る', knowledges_path %>
  </div>
</section>
