<% set_meta_tags(
     title: "#{@knowledge.name} | Vook tokyo", description: @knowledge.body.to_plain_text,
     og: {
       title: "#{@knowledge.name} | Vook tokyo",
       description: @knowledge.body.to_plain_text,
       image: @knowledge.image.present? ? image_tag(@knowledge.image) : image_url('logo_ogp.png')
     },
     twitter: {
       image: @knowledge.image.present? ? image_tag(@knowledge.image) : image_url('logo_ogp.png')
     }
   ) %>

<section class='knowledge-section'>
  <%= render partial: 'shared/section_headline', locals: { number: '00', title: 'Knowledge' } %>
  <div class='knowledge-container container'>
    <% if admin_login? %>
      <div class='knowledge-edit buttons is-right'>
        <%= link_to 'Knowledge一覧', knowledges_path, class: 'button is-success' %>
        <%= link_to '編集', edit_knowledge_path(@knowledge), class: 'button is-primary' %>
        <%= button_to '削除', @knowledge,
                      { method: :delete, form: { data: { turbo: true, turbo_confirm: '本当に削除しますか？' } }, class: 'button' } %>
      </div>
    <% end %>
    <nav class='breadcrumb-list'>
      <ul>
        <li><i class='fa-solid fa-tag icon-tag' aria-label='Tag'></i></li>
        <li><%= link_to "##{@knowledge.brand.name}", brand_path(@knowledge.brand.name), class: 'button is-rounded' %></li>
        <li><%= link_to "##{@knowledge.item.name}", item_path(@knowledge.item.name), class: 'button is-rounded' %></li>
        <li><%= link_to "##{@knowledge.line.name}", line_path(@knowledge.line.name), class: 'button is-rounded' %></li>
      </ul>
    </nav>
    <% if @knowledge.draft? %>
      <div class='knowledge-draft-message'>
        この記事は下書きです
      </div>
    <% end %>
    <h2 class='knowledge-title'>
      <%= @knowledge.name %>
    </h2>
    <div class='knowledge-content'>
      <% if @knowledge.image.attached? %>
        <figure class='image'>
          <%= image_tag @knowledge.image.variant(resize_to_limit: [1000, 1000]), alt: @knowledge.name, width: '100%',
                                                                                 height: '500px' %>
        </figure>
      <% end %>
      <div class='knowledge-body content'>
        <%= @knowledge.body %>
      </div>
    </div>
    <%= instagram_embed(@knowledge.instagram_url) if @knowledge.instagram_url.present? %>
    <% if @knowledge.mermaid_chart %>
      <div class='knowledge-identification'>
        <h3 class='knowledge-sub-title'>
          <%= "#{@knowledge.name}の判別" %>
        </h3>
        <div class='mermaid'>
          <%= sanitize(@knowledge.mermaid_chart) %>
        </div>
      </div>
    <% end %>
    <div class='knowledge-price'>
      <h3 class='knowledge-sub-title'>
        <%= "#{@knowledge.name}の価格情報" %>
      </h3>
      <div id='price-histogram' class='knowledge-price-histogram'></div>
      <div class='knowledge-price-body'>
        <div class='knowledge-price-info level'>
          <% if @knowledge.products&.average(:price) %>
            <div class='level-item has-text-centered'>
              <div>
                <p class='heading'>平均価格</p>
                <p class='title average-price'>
                  <%= number_to_currency(@knowledge.products.average(:price)) %>
                </p>
              </div>
            </div>
            <div class='level-item has-text-centered'>
              <div>
                <p class='heading'>最低価格</p>
                <p class='title'>
                  <%= number_to_currency(@knowledge.products.minimum(:price)) %>
                </p>
              </div>
            </div>
            <div class='level-item has-text-centered'>
              <div>
                <p class='heading'>最高価格</p>
                <p class='title'>
                  <%= number_to_currency(@knowledge.products.maximum(:price)) %>
                </p>
              </div>
            </div>
          <% else %>
            <p>現在、価格情報はありません</p>
          <% end %>
        </div>
        <div class='produt-link has-text-right'>
          <%= link_to '商品一覧ページへ', product_path(@knowledge) %>
        </div>
      </div>
    </div>
    <div class='knowledge-relation'>
      <h4 class='knowledge-sub-title'>
        <%= "#{@knowledge.name}の関連知識" %>
      </h4>
      <% if @knowledge.related_knowledges.blank? %>
        <p>現在、関連情報はありません</p>
      <% else %>
        <%= render 'knowledges/card_list', objects: @knowledge.related_knowledges %>
      <% end %>
    </div>
    <%= render 'shared/share_banner', share_text: @knowledge.name %>
    <%= link_to 'トップページに戻る', root_path %>
  </div>
</section>
