<section>
  <%= render partial: 'shared/hero_banner', locals: { number: 0, title: 'Knowledge' } %>
  <div class='knowledge-section container'>
    <nav class='breadcrumb has-succeeds-separator is-medium'>
      <ul>
        <li><%= link_to @knowledge.brand.name, brand_path(@knowledge.brand.name) %></li>
        <li><%= link_to @knowledge.item.name, item_path(@knowledge.item.name) %></li>
        <li><%= link_to @knowledge.line.name, line_path(@knowledge.line.name) %></li>
      </ul>
    </nav>
    <h2 class='title'>
      <%= @knowledge.name %>
    </h2>
    <div class='knowledge-content'>
      <% if @knowledge.image.attached? %>
        <figure class='image'>
          <%= image_tag @knowledge.image.variant(resize_to_limit: [1000, 1000]) %>
        </figure>
      <% end %>
      <div class='knowledge-body content'>
        <%= @knowledge.body %>
      </div>
    </div>
    <% if admin_login? %>
      <div class='knowledge-edit buttons'>
        <%= link_to '記事編集', edit_knowledge_path(@knowledge), class: 'button' %>
        <%= button_to '記事削除', @knowledge, { method: :delete, data: { turbo_confirm: '本当に削除しますか？' }, class: 'button' } %>
      </div>
    <% end %>
    <%= render 'shared/share_banner', share_text: @knowledge.name %>
    <%= link_to 'トップページに戻る', root_path %>
  </div>
</section>
