<%= javascript_include_tag 'knowledges/show', async: 'async' %>
<%= javascript_include_tag 'https://www.instagram.com/embed.js', defer: true %>
<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'page/knowledge' %>
<% end %>

<% set_meta_tags(
     title: "#{@knowledge.name} | Vook tokyo", description: @knowledge.body.to_plain_text,
     og: {
       title: "#{@knowledge.name} | Vook tokyo",
       description: @knowledge.body.to_plain_text,
       image: @knowledge.image.present? ? image_tag(@knowledge.image) : image_url('logo_ogp.png')
     },
     twitter: {
       image: @knowledge.image.present? ? image_tag(@knowledge.image) : image_url('logo_ogp.png')
     }
   ) %>

<section class='knowledge-section'>
  <% if admin_login? %>
    <div class='knowledge-edit buttons is-right container'>
      <%= link_to 'Knowledge一覧', knowledges_path, class: 'button is-success' %>
      <%= link_to '編集', edit_knowledge_path(@knowledge), class: 'button is-primary' %>
      <%= button_to '削除', @knowledge,
                    { method: :delete, form: { data: { turbo: true, turbo_confirm: '本当に削除しますか？' } }, class: 'button' } %>
    </div>
  <% end %>
  <%= render partial: 'shared/section_headline', locals: { number: '00', title: 'Knowledge' } %>
  <div class='knowledge-container container'>
    <nav class='breadcrumb-list'>
      <ul>
        <li>
          <%= link_to root_path do %>
            <i class='fa-solid fa-house'></i>
          <% end %>
        </li>
        <li>
          <div class='breadcrumb-group'>
            <%= link_to @knowledge.brand.name, brand_path(@knowledge.brand.name) %>
            <%= link_to @knowledge.item.name, item_path(@knowledge.item.name) %>
          </div>
        </li>
        <li><%= link_to @knowledge.line.name, line_path(@knowledge.line.name) %></li>
        <li><%= link_to @knowledge.name, knowledge_path(@knowledge) %></li>
      </ul>
    </nav>
    <% if @knowledge.draft? %>
      <div class='knowledge-draft-message'>
        この記事は下書きです
      </div>
    <% end %>
    <h2 class='knowledge-title'>
      <%= @knowledge.name %>
    </h2>
    <% if @knowledge.topic_sentence.present? %>
      <div class='knowledge-topic-sentence'>
        <h3 class='knowledge-sub-title'>
          <%= @knowledge.topic_sentence %>
        </h3>
      </div>
    <% end %>
    <% if @knowledge.image.attached? %>
      <div class='knowledge-image'>
        <figure class='image'>
          <%= image_tag @knowledge.image.variant(resize_to_limit: [1000, 1000]), alt: @knowledge.name, width: '100%',
                                                                                 height: '500px', loading: 'eager' %>
        </figure>
      </div>
    <% end %>
    <% if @knowledge.summary.present? %>
      <div class='knowledge-summary'>
        <%= @knowledge.summary %>
      </div>
    <% end %>
    <% if @knowledge.mermaid_chart.present? %>
      <div class='knowledge-identification'>
        <h3 class='knowledge-sub-title' id='identification'>
          <%= "#{@knowledge.name}の判別" %>
        </h3>
        <div id="knowledge-mermaid">
          <div class='mermaidContainer'>
            <div class='mermaidBox'></div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @products.present? %>
      <div class='knowledge-price'>
        <h3 class='knowledge-sub-title' id='price'>
          <%= "#{@knowledge.name}の価格情報" %>
        </h3>
        <div class='knowledge-price-body'>
          <% if @products.size > 1 %>
            <div id='price-histogram' class='knowledge-price-histogram'>
              <div class="chartContainer">
                <div class="chartBox"></div>
              </div>
            </div>
          <% end %>
          <div class='knowledge-price-info'>
            <div class='level-items level'>
              <div class='level-item has-text-centered'>
                <div>
                  <p class='heading'>平均価格</p>
                  <p class='title average-price'>
                    <%= number_to_currency(@products.average(:price)) %>
                  </p>
                </div>
              </div>
              <div class='level-item has-text-centered'>
                <div>
                  <p class='heading'>最低価格</p>
                  <p class='title'>
                    <%= number_to_currency(@products.minimum(:price)) %>
                  </p>
                </div>
              </div>
              <div class='level-item has-text-centered'>
                <div>
                  <p class='heading'>最高価格</p>
                  <p class='title'>
                    <%= number_to_currency(@products.maximum(:price)) %>
                  </p>
                </div>
              </div>
            </div>
            <div class='product-link has-text-right'>
              <%= link_to '商品一覧ページへ', product_path(@knowledge), class: 'button is-secondary' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class='knowledge-body content'>
      <%= @knowledge.body %>
    </div>
    <%= instagram_embed(@knowledge.instagram_url) if @knowledge.instagram_url.present? %>
    <div class='knowledge-relation'>
      <h4 class='knowledge-sub-title'>
        <%= "#{@knowledge.name}の関連知識" %>
      </h4>
      <% if @knowledge.related_knowledges.blank? %>
        <p>現在、関連情報はありません</p>
      <% else %>
        <%= render 'knowledges/card_list', objects: @knowledge.related_knowledges %>
      <% end %>
    </div>
    <%= render 'shared/share_banner', share_text: @knowledge.name %>
    <%= link_to 'トップページに戻る', root_path %>
  </div>
</section>
