<section class='admin-section'>
  <%= render partial: 'shared/section_headline', locals: { title: 'Brand' } %>
  <div class='admin-container container'>
    <table class='table is-bordered is-fullwidth'>
      <tbody class='preview-table'>
        <tr>
          <th>ブランド名</th>
          <td><%= @brand.name %></td>
        </tr>
        <tr>
          <th>アイコン</th>
          <td>
            <% if @brand.image.attached? %>
              <%= image_tag @brand.image, style: "background-color: #{@brand.color}" %>
            <% else %>
              なし
            <% end %>
          </td>
        </tr>
        <tr>
          <th>バナー</th>
          <td>
            <% if @brand.banner.attached? %>
              <%= image_tag @brand.banner, style: "background-color: #{@brand.color}" %>
            <% else %>
              なし
            <% end %>
          </td>
        </tr>
        <tr>
          <th>ブランドカラー</th>
          <td><%= @brand.color %></td>
        </tr>
        <tr>
          <th>説明文</th>
          <td><%= @brand.description.presence %></td>
        </tr>
      </tbody>
    </table>
    <hr class='has-background-dark'>
    <%= render 'form', brand: @brand %>
    <%= link_to '管理画面に戻る', admin_path %> |
    <%= link_to "#{@brand.name}のページへ", @brand %>
  </div>
</section>
