<%= javascript_include_tag 'brands/show', defer: true %>
<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'page/knowledge' %>
<% end %>

<section class='knowledge-section'>
  <%= render partial: 'shared/section_headline', locals: { number: '00', title: 'Knowledge' } %>
  <div class='knowledge-container container'>
    <nav class='breadcrumb-list'>
      <ul>
        <li><i class='fa-solid fa-tag icon-tag' aria-label='Tag'></i></li>
        <li><%= link_to "##{@brand.name}", brand_path(@brand.name), class: 'button is-rounded' %></li>
      </ul>
    </nav>
    <div class='knowledge-brand-header' style="background-color: <%= @brand.color %>">
      <% if @brand.banner.attached? %>
        <%= image_tag @brand.banner, alt: @brand.name, class: 'knowledge-banner', loading: 'eager' %>
      <% end %>
    </div>
    <% if @brand.description.present? %>
      <div class='knowledge-description'>
        <%= @brand.description %>
      </div>
    <% end %>
    <%= render 'knowledges/card_list', objects: @lines %>
    <%= link_to 'トップページに戻る', root_path %>
  </div>
</section>
