<%= javascript_include_tag 'products/show', defer: true %>
<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'page/product' %>
<% end %>

<section>
  <%= render partial: 'shared/section_headline', locals: { number: '02', title: 'Discovery' } %>
  <div class='product-section container'>
    <nav class='breadcrumb-list'>
      <ul>
        <li><i class='fa-solid fa-tag icon-tag'></i></li>
        <li><%= link_to "##{@knowledge.brand.name}", brand_path(@knowledge.brand.name), class: 'button is-rounded' %></li>
        <li><%= link_to "##{@knowledge.item.name}", item_path(@knowledge.item.name), class: 'button is-rounded' %></li>
        <li><%= link_to "##{@knowledge.line.name}", line_path(@knowledge.line.name), class: 'button is-rounded' %></li>
      </ul>
    </nav>
    <div class='product-header'>
      <h2 class='product-title'>
        <%= "#{@knowledge.name}の商品情報" %>
      </h2>
      <span class='knowledge-link'>
        <%= link_to '解説ページ', knowledge_path(@knowledge), class: 'button is-rounded' %>
      </span>
    </div>
    <div class='product-body'>
      <div class='ad'>広告</div>
      <% if @products.empty? %>
        <p>現在、商品情報はありません</p>
      <% else %>
        <div id='product-table'></div>
      <% end %>
    </div>
    <%= render 'shared/share_banner', share_text: @knowledge.name %>
    <%= link_to 'トップページに戻る', root_path %>
  </div>
</section>
