<%= javascript_include_tag 'products/show', defer: true %>
<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'page/product' %>
<% end %>

<section>
  <%= render partial: 'shared/section_headline', locals: { number: '02', title: 'Discovery' } %>
  <div class='product-section container'>
    <nav class='breadcrumb-list'>
      <ul>
        <li>
          <%= link_to root_path do %>
            <i class='fa-solid fa-house'></i>
          <% end %>
        </li>
        <li>
          <div class='breadcrumb-group'>
            <%= link_to @knowledge.brand.name, brand_path(@knowledge.brand.name) %>
            <%= link_to @knowledge.item.name, item_path(@knowledge.item.name) %>
          </div>
        </li>
        <li><%= link_to @knowledge.line.name, line_path(@knowledge.line.name) %></li>
        <li><%= link_to @knowledge.name, product_path(@knowledge.id) %></li>
      </ul>
    </nav>
    <div class='product-header'>
      <h2 class='product-title'>
        <%= "#{@knowledge.name}の商品情報" %>
      </h2>
      <span class='knowledge-link'>
        <%= link_to '知識ページ', knowledge_path(@knowledge), class: 'button is-secondary knowledge-button' %>
      </span>
    </div>
    <div class='product-body'>
      <div class='ad'>広告</div>
      <% if @products.empty? %>
        <p>現在、商品情報はありません</p>
      <% else %>
        <div id='product-table' class='product-table'>
          <div class="tableContainer"></div>
        </div>
      <% end %>
    </div>
    <%= render 'shared/share_banner', share_text: @knowledge.name %>
    <%= link_to 'トップページに戻る', root_path %>
  </div>
</section>
