<section class='term-section'>
  <%= render partial: 'shared/section_headline', locals: { title: 'Terms' } %>
  <div class='layout-wrapper'>
    <div class='term-container container main-content'>
      <% if admin_login? %>
        <div class='has-text-right'>
          <%= link_to '用語登録', new_term_path, class: 'button is-primary' %>
        </div>
      <% end %>
      <div class='mobile-contents'>
        <%= render 'terms/categories_list', categories: @categories %>
      </div>
      <h2 class='category-terms-title'><%= "#{@category.name}の用語一覧" %></h2>
      <%= render 'terms/list', terms: @terms %>
      <%= link_to 'トップページに戻る', root_path %>
    </div>
    <div class='sidebar'>
      <%= render 'terms/categories_list', categories: @categories %>
    </div>
  </div>
</section>
