<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= display_meta_tags(default_meta_tags) %>
    <%= favicon_link_tag('favicon.png') %>
    <%= favicon_link_tag('apple-touch-icon.png', { rel: 'apple-touch-icon', sizes: '180x180', type: 'image/png' }) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css' %>
    <%= stylesheet_link_tag 'application', "data-turbo-track": 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Open+Sans&family=Noto+Sans+JP&display=swap' %>
    <%= javascript_include_tag 'application', "data-turbo-track": 'reload', defer: true %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <%= render 'home/header' %>
    <%= render 'shared/flash' %>
    <main>
      <%= yield %>
    </main>
    <%= render 'home/footer' %>
  </body>
</html>
