<!DOCTYPE html>
<html>
  <head>
    <title>VookWebV3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css' %>
    <%= stylesheet_link_tag 'application', "data-turbo-track": 'reload' %>
    <%= javascript_include_tag 'application', "data-turbo-track": 'reload', defer: true %>
  </head>

  <body>
    <%= render 'home/header' %>
    <%= render 'shared/flash' %>
    <%= yield %>
    <%= render 'home/footer' %>
  </body>
</html>
